img {
  max-width: 100%;
}
*,
*:before,
*:after{
  box-sizing: border-box;
}
body {
  font-family: $primary-font;
  background: $third-color;
}
ol,
ul {
  padding: 0;
  list-style-type: none;
}
a {
  color: $primary-text-color;
  text-decoration: none;
}
button {
	cursor: pointer;
  border: none;
  background: $primary-color;
}