.header-help {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-info__text {
  font-size: 10px;
  line-height: 13px;
  font-weight: 700;
}
.header-info__tel {
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  padding-right: 5px;
}
.header-gifts__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: $primary-text-color;
  &:hover {
    color: $primary-color;
  }
}
.header-gifts {
  display: flex;
}
.header-gifts__link {
  padding-right: 20px;
}
.header__second-header {
  background: #fff;
}
@media screen and (min-width: 576px) {
  .header-help {
    flex-direction: row;
  }
  .header-gifts__link {
    padding-right: 20px;
  }
  .search-form {
    margin-left: 40px;
  }
}
.header-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
}
.last-header__main-nav__list {
  display: none;
  justify-content: space-between;
}
.header__last-header {
  height: 0;
  background: $secondary-color;
}
.header-center__user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .header-center__user {
    padding-top: 0;
  }
  .header-gifts__link {
    padding-right: 100px;
  }
  .last-header__main-nav__list {
    display: flex;
  }
  .header__last-header {
    height: auto;
  }
  .search-form {
    margin-left: 0px;
  }
  .header-center {
    justify-content: space-between;
    flex-direction: row;
  }
}
.search-form {
  display: flex;
}

.search-form__input {
  border: none;
  flex-basis: 350px;
  background: $third-color;
  padding-right: 15px;
  padding-left: 15px;
  &::placeholder {
    color: $primary-text-color;
  }
}
.cart {
  position: relative;
  width: 25px;
}
.header-center__user__link {
  padding-left: 20px;
}
@media screen and (min-width: 992px) {
  .header-center__user__link {
    padding-left: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .header-center__user__link {
    padding-left: 80px;
  }
}
.main-nav__list__item {
  padding-top: 30px;
  padding-bottom: 30px;
}
.main-nav__list__link {
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}
.hero-section__image {
  object-fit: cover;
}
.text-button {
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
}
.big-number {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
.small-number {
  line-height: 13px;
  font-weight: bold;
  font-size: 10px;
}