.subscribe__image {
  padding: 45px 5px;
  height: 260px;
  background-image: url(../Images/newsletter1x.jpg);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-resolution: 1.5dppx),
only screen and (min-resolution: 144dpi)  {
  .subscribe__image  {
    background-image: url(../Images/newsletter2x.jpg);
    background-size: cover;
  }
}
.subscribe {
  margin-top: 100px;
}
.subscribe__text {
  display: flex;
  flex-direction: column;
}
.subscribe__block {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.subscribe__block__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}
.subscribe__block__newsletter {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}
.subscribe__text {
  color: #fff;
}
.search-form--subscribe {
  display: flex;
  max-width: 300px;
  height: 55px;
}
.search-form__input--subscribe {
  border-radius: 4px 0 0 4px;
  padding: 18px 20px 20px 33px; 
  max-width: 200px;
  &::placeholder {
    color: #bdbdbd;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
  }
}
.search-form__button--subscribe {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}
@media screen and (min-width: 576px) {
  .subscribe__image {
    padding-top: 50px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe__image {
    padding-top: 90px;
  }
  .subscribe__block {
    justify-content: space-evenly;
  }
  .search-form__input--subscribe {
    max-width: 295px;
  }
  .subscribe__block {
    flex-direction: row;
  }
}