$container-widths:(
	xs: 540px,
	sm: 720px,
	md: 960px,
	lg: 1140px,
);
$breakpoints:(
	xs: 576px,
	sm: 768px,
	md: 992px,
	lg: 1200px,
);
$primary-color: #ec1f44;
$secondary-color: #0a223d;
$primary-font: "Mulish", sans-serif;
$primary-text-color: #333;
$third-color: #f5fafe;