@font-face {
  font-family: 'icomoon';
  src: url('icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-circle:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-calendar:before {
  content: "\e905";
}
.icon-circle-instagram:before {
  content: "\e906";
}
.icon-email:before {
  content: "\e907";
}
.icon-empty-star:before {
  content: "\e908";
}
.icon-facebook-circle:before {
  content: "\e909";
}
.icon-footer-phone-call:before {
  content: "\e90a";
}
.icon-gift:before {
  content: "\e90b";
}
.icon-home:before {
  content: "\e90c";
}
.icon-location-on:before {
  content: "\e90d";
}
.icon-map-pin:before {
  content: "\e90e";
}
.icon-phone-call:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e910";
}
.icon-shopping-cart:before {
  content: "\e911";
}
.icon-star:before {
  content: "\e912";
}
.icon-user:before {
  content: "\e913";
}
.icon-youtube-with-circle:before {
  content: "\e914";
}
